.cell {
	border-bottom: 1px solid #AAAAAA;
	border-right: 1px solid #AAAAAA;
	width: 20px;
	height: 20px;
	float: left;
	margin: 0;
}

#content:after {
  content:"";
  display:table;
  clear:both;
}

.cell:nth-child(40n + 1) {
	clear: both;
	border-left: 1px solid #AAAAAA;
}

.gameOver .cell {
	background-color: red;
}