#board {
    margin: 0 auto;
    border: 1px solid #000;
    display: table;
}

.row {
    display: table-row;
}

.cell {
    float: left;
    display: table-cell;
    border: 1px solid #000;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.cellButton:hover {
    background-color: yellow;
    width: 100px;
    height: 100px;
}

.emptyCell:hover {
    background-color: yellow;
}

.cell:nth-child(3n + 1) {
    clear: both;
    border-left: 1px solid #AAAAAA;
}